.mainContaineer {
   display: grid;

   /* background-image: url("./Picture/Fon.png") ;	 */
   margin: 10px auto;

   grid-template-areas:
      "m_1  m_2 "
      "m_3 m_4"
      "m_5 m_5";
   grid-gap: 10px;
   grid-template-rows: repeat(2, 2fr);
   grid-template-columns: repeat(2, 2fr);
}

.app_Cadets {
   grid-area: m_1;
   width: 180px;
   height: 200px;
   background: url("../../../Picture/cadet.jpg");
   background-size: cover;
}
.app_Officer {
   grid-area: m_2;
   width: 180px;
   height: 200px;
   position: center;
   background: url("../../../Picture/PainSmall.png");
}
.app_Aud {
   grid-area: m_3;
}
.app_Technick {
   grid-area: m_4;
}
.app_Hist {
   grid-area: m_5;
}
