.app-wrapper {
   display: grid;

   /* background-image: url("./Picture/Fon.png") ;	 */
   background-size: cover;
   background-attachment: scroll;
   background-position: top;
   background-repeat: no-repeat;

   grid-template-areas:
      "m_H    m_H    m_H    m_H"
      "m_Body m_Body m_Body  m_Body"
      "m_F    m_F    m_F    m_F";

   grid-template-rows: 360px 3fr 2fr;
   grid-template-columns: 2fr 10fr 0px 3fr;
   /* grid-gap: 10px; */
}
.app_wrapper_content {
   grid-area: m_Body;
}
